#titulo{
	font: 500;
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
	
}

#BarraNavegacion{
	background: #52A9BD
}
body{
	padding-top: 70px
}

#elemento1{
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
}
#elemento2{
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
}
#elemento3{
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
}
#elemento4{
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
}
#fondo{
	background: #456870;
	padding-top: 0px;
	background-size: cover;
	padding-left: 1000px;
	
	
}